<%- include("../includes/header.ejs", {title: "Update " + account.email}); %>

<h1>Update <%= account.email%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Account Email: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br />
    <br />
    First Name: <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>"/>
    <br />
    <br />

    Skill(s): <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";

            for( var j=0; accSkill.length > j; j++ ) {
                if (accSkill[j].skill_id == skill[i].skill_id) {
                    selected = "selected";
                }
            }
        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name + ': ' + skill[i].description %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>