<%- include("../includes/header.ejs", {title:"Companies - " + result[0].company_name}); %>
    <h1>Companies</h1>
    <ul>
        <li>Company Name: <%= result[0].company_name %></li>
        <li>Address(es):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>

                <% if( result[i].street != null ) { %>
                    <li><%= result[i].street + ', ' + result[i].zip_code %></li> <% }
                else { %>
                    <li>None</li> <% } %>

                <% } %>
            </ul>
        </li>
    </ul>

<a href="/company/all"><< back</a>

<%- include("../includes/footer.ejs"); %>